@model Life.ViewModel.Home.ContactPersonViewModel

<h2>@Model.Name</h2>
<h3>@Model.CellPhoneNumber</h3>
<h3>@Model.Address</h3>
<address>
    <strong>Support:</strong> <a href="mailto:jhengsiaomin@gmail.com">jhengsiaomin@gmail.com</a><br />
</address>
