@model List<Life.Models.Entity.GuestInfo>

<table class="table table-bordered">
    <thead>
        <tr class="info">
            <th scope="col">姓名</th>
            <th scope="col">人數</th>
            <th scope="col">桌號</th>
            <th scope="col">備註</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Quantity</td>
            <td>@item.TableNumber</td>
            <td>@item.Remark</td>
        </tr>
        }
    </tbody>
</table>